<nav class="navbar navbar-expand navbar-dark" style="background-color: #110b01; " >
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/assets/gpay.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Ford Payment App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item " col-xs-3>
            <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <div *ngif="logged()">
          <li class="nav-item dropdown"  >
            <a class="nav-link dropdown-toggle"   role="button" data-bs-toggle="dropdown" aria-expanded="false" [class.active]="router.isActive('addfunds', true) || router.isActive('fundTransfer', true)" >
                Wallet
            </a>
            <ul class="dropdown-menu"  >
              
                <li routerLinkActive="active" ><a class="dropdown-item" routerLink="addfunds">Add Funds</a></li>
              <li routerLinkActive="active"><a class="dropdown-item" routerLink="fundTransfer">Fund Transfer</a></li>
              <li routerLinkActive="active"><a class="dropdown-item" routerLink="showBalance">Show Balance</a></li>
              <li routerLinkActive="active"><a class="dropdown-item" routerLink="withdrawAmount">Withdraw</a></li>
              <li routerLinkActive="active"><a class="dropdown-item" routerLink="deletWallet">Delete</a></li>
           
            </ul>
          </li>
        </div>
       
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
       
         
        <p-splitButton
        
        icon="pi pi-power-off"
        
        [model]="items"
      ></p-splitButton>
        
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>