<div class="container-fluid">
  


<div style="text-align: center">
    <form  [formGroup]=" loginForm"  (ngSubmit)="onSubmit(loginForm.value)">
        
        <h1 class="display-1">Login</h1><br>

        
        <div class="p-inputgroup " >
            
            <span class="p-inputgroup-addon"><i class="pi pi-star-fill"></i></span>
            <input type="text" pInputText placeholder="User Id"  formControlName="id"  >
        </div>
            <p-message severity="error" [text]="loginForm.controls['id'].errors['required'] ? 'id is required' : loginForm.controls['id'].errors['minlength'] ? 'Must be longer than 2' : loginForm.controls['id'].errors['pattern'] ? 'Numbers only' :loginForm.controls['id'].errors['maxlength'] ? 'Must be smaller than 5' :''" 
            *ngIf="!loginForm.controls['id'].valid&&loginForm.controls['id'].touched" ></p-message>
    
        <br>
       
       

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-eye-slash"></i></span>
            <input type="password" pInputText placeholder="User Password" formControlName="password" >   </div>
            <p-message severity="error" [text]="loginForm.controls['password'].errors['required'] ? 'Password is required' : loginForm.controls['password'].errors['minlength'] ? 'Must be longer than 2' : loginForm.controls['password'].errors['strong'] ? ' Must have at least one number, one lowercase and one uppercase letter.' :loginForm.controls['password'].errors['maxlength'] ? 'Must be smaller than 5' :''" 
            *ngIf="!loginForm.controls['password'].valid&&loginForm.controls['password'].touched" ></p-message>    
        <br>

       <br>

      <div>
<button pButton label="sign In" icon="pi pi-lock-open" iconPos="left" type="submit" value="submit" [disabled]="!loginForm.valid"></button>


</div>
</form>
<br>
<button pButton label="sign Up" icon="pi pi-user-plus" iconPos="left" (click)="reg()"></button>

</div>

<p-toast 
      position="top-right" 
      key="topright" 
      life='50000'>
</p-toast>
    
</div>
        
<router-outlet></router-outlet>



    





